.attendance-container {
  /* padding: 24px; */
  background-color: #ffffff;
}

.attendance-card,
.quiz-card {
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.attendance-title {
  text-align: center;
  margin-bottom: 24px;
}

.attendance-table {
  margin-top: 16px;
}

.quiz-card {
  padding: 16px;
}

.ant-alert {
  border-radius: 4px;
}

.ant-slider-mark-text {
  font-size: 12px;
}

@media (max-width: 767px) {
  .attendance-container {
    padding: 16px;
  }

  .attendance-card,
  .quiz-card {
    margin-bottom: 16px;
  }

  .attendance-title {
    font-size: 20px;
  }

  .ant-table {
    font-size: 12px;
  }
}
